.product-detail {
    margin-top: 100px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.main-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-info {
    padding: 1rem;
}

.price {
    font-size: 2rem;
    color: var(--az-red);
    margin: 1rem 0;
}

.description {
    margin-top: 2rem;
}

.description ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
}

.other-products {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.other-product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.other-product-card {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.other-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.other-product-card a {
    text-decoration: none;
}

.other-product-card a:hover {
    text-decoration: underline black;
}

@media (max-width: 768px) {
    .product-detail {
        grid-template-columns: 1fr;
    }
}